// Uncomment to debug alignments
//.row {
//  border: solid 4px red;
//  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
//    border: solid 3px orange;
//  }
//
//  p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
//    border: solid 2px green;
//  }
//}

// Default styles
@page {
  margin: 0;
}

.page{
  page-break-inside: avoid; // Don't break a page inside this class
  &:not(:last-child){ // If it ISN'T the last .page...
    page-break-after: always; // always break the page after this class
  }
  // A page is always 100% of the viewport for dev
  height: 100vh;
  // Flex properties to deal with header and footer for each page nicely
  display: flex;
  flex-direction: column;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  // Don't break pages directly after a title tag
  page-break-after: avoid;
}

code {
  font-size: inherit;
  font-family: Operator Mono SSm A,Operator Mono SSm B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  background: #ffeff0;
}
