// Custom styles for this report
.report-wrapper {
  font-size: 15px; // increase font size

  $aqua: #00C0F3;
  $dark-gray: #D1D2D4;
  $light-gray: #F3F3F4;

  strong {
    font-weight: 600;
  }

  .bg-aqua {
    background: $aqua !important;
  }

  .bg-light-aqua {
    background: #9cdcf9;
  }

  .border-aqua {
    border: solid 1px $aqua;
  }

  .border-aqua-accent {
    border-top: solid 1px $aqua !important;
    border-right: solid 1px $aqua !important;
    border-bottom: solid 2px $aqua !important;
    border-left: solid 2px $aqua !important;
  }

  .table {
    caption {
      background: $aqua;
      color: #000;
    }

    > :not(:last-child) > :last-child > * {
      border-bottom: solid 1px $aqua;
    }

    > :not(caption) > * > * {
      padding: 2px 5px;
      box-shadow: none;
    }

    thead {
      background: $dark-gray;

      th {
        font-weight: $font-weight-light;
      }
    }

    tr, thead, th, td {
      border: solid 1px $aqua;
    }

    thead, tbody, tfoot, tr, td, th {
      border: solid 1px $aqua;
    }
  }

  .table > tbody > tr:nth-of-type(2n+1) {
    background: white !important;
  }

  .table > tbody > tr:nth-of-type(2n+2) {
    background: $light-gray !important;
  }

  ul.list-table {
    padding: 0;
    border-top: solid 1px $aqua;
    border-right: solid 1px $aqua;

    li {
      list-style: none;
      padding: 5px;
      border-left: solid 1px $aqua;
      border-bottom: solid 1px $aqua;
    }
  }
}

.w-90 {
  width: 90%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.fill-tbody {
  height: 20vh;
}

.fill-tbody-20 {
  height: 15vh;
}

.for-footer {
  margin-right: 2px;
}