---
layout: report
stylesheet: cspa
title:  "Adult Resilience Scale Client Report"
date:   2021-07-02 06:00:00 +1000
name:   "John Sample"
---

<!-- Page 1 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill pt-4">
        <ul class="list-table row row-cols-2 mb-1">
            <li class="col"><strong>Username:</strong></li>
            <li class="col"><strong>Date:</strong></li>
            <li class="col"><strong>Name:</strong></li>
            <li class="col"><strong>Unique ID:</strong></li>
            <li class="col"><strong>Skill:</strong></li>
            <li class="col"><strong>Key Tag:</strong></li>
            <li class="col"><strong>Scale score estimate:</strong></li>
            <li class="col"><strong>Combined Score:</strong></li>
            <li class="col w-100 border-aqua-accent"><strong>ACSF level estimate:</strong></li>
            <p class="my-1">*ACSF = Australian Core Skills Framework</p>
        </ul>
        <div class="row mt-0">
            <div class="col-12">
            </div>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>

<!-- Page 2 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill pt-4">
        <ul class="list-table row row-cols-2 mb-1">
            <li class="col"><strong>Username:</strong></li>
            <li class="col"><strong>Date:</strong></li>
            <li class="col"><strong>Name:</strong></li>
            <li class="col"><strong>Unique ID:</strong></li>
            <li class="col"><strong>Skill:</strong></li>
            <li class="col"><strong>Key Tag:</strong></li>
            <li class="col"><strong>Scale score estimate:</strong></li>
            <li class="col"><strong>Combined Score:</strong></li>
            <li class="col w-100 border-aqua-accent"><strong>ACSF level estimate:</strong></li>
        </ul>
        <div class="row mt-0">
            <div class="col-12">
            </div>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>

<!-- Page 3 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill pt-4">
        <ul class="list-table row row-cols-2 mb-1">
            <li class="col"><strong>Username:</strong></li>
            <li class="col"><strong>Date:</strong></li>
            <li class="col"><strong>Name:</strong></li>
            <li class="col"><strong>Unique ID:</strong></li>
            <li class="col"><strong>Skill:</strong></li>
            <li class="col"><strong>Key Tag:</strong></li>
            <li class="col"><strong>Scale score estimate:</strong></li>
            <li class="col"><strong>Combined Score:</strong></li>
            <li class="col w-100 border-aqua-accent"><strong>ACSF level estimate:</strong></li>
        </ul>
        <div class="row py-6">
            <div class="col-12">
                <table class="table">
                    <thead class="bg-aqua">
                        <tr>
                            <th class="fw-bold text-capitalize py-1">WRITING RECOMMENDATION</th>
                        </tr>
                    </thead>
                    <tbody class="fill-tbody">
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>