---
layout: report
stylesheet: cspa
title:  "Adult Resilience Scale Client Report"
date:   2021-07-02 06:00:00 +1000
name:   "John Sample"
---

<!-- Page 1 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill pt-4">
        <ul class="list-table row row-cols-2">
            <li class="col"><strong>Username:</strong> cw</li>
            <li class="col"><strong>Date:</strong> 17-12-2018</li>
            <li class="col"><strong>Name:</strong> Cam Cam</li>
            <li class="col"><strong>Unique ID:</strong></li>
            <li class="col"><strong>Skill:</strong> CSPA Numeracy</li>
            <li class="col"><strong>Key Tag:</strong> cw</li>
            <li class="col"><strong>ACSF level estimate:</strong> working at level 1 / not yet achieved</li>
            <li class="col"><strong>Scale score estimate:</strong> 41</li>
        </ul>
        <div class="row">
            <div class="col-12">
                <table class="table caption-top">
                    <caption class="fw-bold">Assessment Question Summary:</caption>
                    <thead class="text-center">
                        <tr>
                            <th>No.</th>
                            <th>Description. The candidate can:</th>
                            <th>Area</th>
                            <th>Result</th>
                            <th>ACSF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>interpret data and statements to comprehend a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>3.09 3.11</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>read and interpret maximum value on a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>estimate mean value from a graph.</td>
                            <td>S & P</td>
                            <td>N/A</td>
                            <td>1.09 1.10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>

<!-- Page 2 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill">
        <div class="row py-5">
            <p class="col-12">
            <p>Test</p>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>
