---
layout: report
stylesheet: ars
title:  "Adult Resilience Scale Client Report"
date:   2021-07-02
name:   "John Sample"
---

<!-- Page 1 -->
<div class="page report-wrapper">
    <div class="container-fluid bg-colourful-tree position-relative">
        <div class="row">
            <div class="col-12 mt-12">
                <h2>John Sample<br>
                <date class="fw-light">11.06.2021</date></h2>
                <img class="img-fluid position-absolute colourful-tree-img" width="560px" src="{{ site.url }}/assets/images/ars/colourful-tree.svg" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid flex-fill bg-pastel">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-12">Adult Resilience Scale<br>
                    <span class="fw-light">Client Report</span></h1>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-12 bg-pastel">
        <div class="row">
            <div class="col-12">
                <img class="float-end" width="130px" src="{{ site.url }}/assets/images/acer-logo-black.svg" alt="ACER logo" />
            </div>
        </div>
    </div>
</div>

<!-- Page 2 -->
<div class="page report-wrapper">
    {% include ars/header.html %}
    <div class="container-fluid flex-fill">
        <div class="row py-5">
            <div class="col-5">
            </div>
            <div class="col-7 content-align pe-0">
                <h2 class="h3 text-dark mb-2">Dimensions and Intervals</h2>
                <h4 class="fw-light text-navy">Total Resilience: 382</h4>
                <ul>
                    <li>Ability to adapt.</li>
                    <li>Time needed to bounce back from adversity.</li>
                    <li>Capacity to cope with stress.</li>
                </ul>

                {% include ars/result-bar.html title="no" color="navy" display_score="282" max_score="300" percentage="94" %}
                <!-- Percentage = display_score/max_score * 100 -->

                <h6 class="mb-1">Very High Range: 365–450</h6>
                <p>This level of resilience indicates an exceptional level of ability to adapt to the changing environment and to bounce back from adversity and personal setbacks. Individuals with this level of resilience also have a very high capacity to cope with stress.</p>
                <h6 class="mb-1">High Range: 331–364</h6>
                <p>Individuals with this level of resilience will be able to succeed when faced with significant challenges and serious problems, and have a high capacity to cope with stress.</p>
                <h6 class="mb-1">Average Range: 262–330</h6>
                <p>Individuals with this level of resilience have a reasonable capacity to respond to difficult circumstances, to adapt to change and to cope in stressful situations.</p>
                <h6 class="mb-1">Low Range: 228–261</h6>
                <p>Individuals with this level of resilience are likely to find it difficult to succeed
                    when faced with significant challenges and serious problems. Individuals may be uncomfortable dealing with problems or stress, and are likely to find it difficult to bounce back from adversity and personal setbacks.</p>
                <h6 class="mb-1">Very Low Range: 0–227</h6>
                <p>Individuals with this level of resilience may frequently find it difficult to progress and to improve their situation when faced with significant challenges. Individuals may be uncomfortable dealing with problems or stress.</p>
            </div>
        </div>
    </div>
    {% include ars/footer.html page_number="1" %}
</div>

<!-- Page 2 -->
<div class="page report-wrapper">
    {% include ars/header.html %}
    <div class="container-fluid flex-fill">
        <div class="row py-5">
            <div class="col-5">
            </div>
            <div class="col-7 content-align pe-0">
                <h4 class="fw-light text-purple">Threat Perception: 59</h4>
                <ul>
                    <li>Perceptive ability or situational awareness</li>
                    <li>Awareness of potential or actual threat</li>
                    <li>Ability to formulate a plan to continue</li>
                </ul>

                {% include ars/result-bar.html title="no" color="purple" display_score="39" max_score="60" percentage="65" %}
                <!-- Percentage = display_score/max_score * 100 -->

                <h6 class="mb-1">Very High Range: 72–90</h6>
                <p>Individuals with this level of threat perception are very perceptive and acutely aware of their surrounding situation, especially recognising potential or actual problems or threats, and will very quickly formulate a recovery plan.</p>
                <h6 class="mb-1">High Range: 65–71</h6>
                <p>Individuals with this level of threat perception are more aware of the surrounding environment than others. They will notice problems before they arise and will quickly plan a way forward.</p>
                <h6 class="mb-1">Average Range: 50–64</h6>
                <p>Individuals with this level of threat perception have an average awareness of the environment and of potentially stressful situations. Individuals have the capacity to gradually work out a way forward.</p>
                <h6 class="mb-1">Low Range: 43–49</h6>
                <p>Individuals with this level of threat perception may be less aware of the surrounding environment. Individuals may only notice problems after they arise.</p>
                <h6 class="mb-1">Very Low Range: 0–42</h6>
                <p>Individuals with this level of threat perception are very slow to perceive problems in their surrounding environment. They will frequently not recognise potential problems, actual problems or threats. Individuals will very rarely be able to formulate a plan to continue.</p>
            </div>
        </div>
    </div>
    {% include ars/footer.html page_number="2" %}
</div>
