---
layout: report
stylesheet: cspa
title:  "Adult Resilience Scale Client Report"
date:   2021-07-02
name:   "John Sample"
---

<!-- Page 1 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill">
        <ul class="row row-cols-2">
            <li class="col border-aqua">Username: cw</li>
            <li class="col border-aqua">Date:  17-12-2018</li>
            <li class="col border-aqua">Name: Cam Cam</li>
            <li class="col border-aqua">Unique ID:</li>
            <li class="col border-aqua">Skill: CSPA Numeracy</li>
            <li class="col border-aqua">Key Tag: cw</li>
            <li class="col border-aqua">ACSF level estimate: working at level 1 / not yet achieved</li>
            <li class="col border-aqua">Scale score estimate: 41</li>
        </ul>
        <div class="row">
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Description. The candidate can:</th>
                            <th>Area</th>
                            <th>Result</th>
                            <th>ACSF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>

<!-- Page 2 -->
<div class="page report-wrapper">
    {% include cspa/header.html %}
    <div class="container-fluid flex-fill">
        <div class="row py-5">
            <p class="col-12">
            <p>Test</p>
        </div>
    </div>
    {% include cspa/footer.html %}
</div>
