@page {
  margin: 2cm;
}

.bg-green {
  background: green;
}

// PDF Page layout
.page{
  page-break-inside: avoid; // Don't break a page inside this class
  &:not(:last-child){ // If it ISN'T the last .page...
    page-break-after: always; // always break the page after this class
  }
}

// Don't break pages directly after a title tag
h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}
